@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --red: #ff5470;
  --cambio-blue: #d2ecf9;
  --cambio-blue-0: #00A6FB;
  --cambio-blue-1:#0582CA;
  --cambio-blue-2: #006494;
  --cambio-blue-3:#003554;
  --cambio-blue-4: #051923;
  --cambio-gray: #313131;
  --cambio-primary: #D1A3A4;

}

html,
body,
:root {
  height: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-slide {
    animation: slide 20s linear infinite;
    display: flex;
    width: 200%;
  }
  .pause {
    animation-play-state: paused;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-pulse {
  animation: pulse 1s ease-in-out infinite;
}

.border-none {
  border-collapse: collapse;
  border: none;
}

td {
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pricing-table tr:nth-child(even) {
  background-color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}
th {
  background-color: #ccc;
}

.mapped-table th, .mapped-table td{
  background-color: #ffffff;
}
.mapped-table {
  /* border-collapse: collapse; Ensures no space between table cells */
  border: 1pt solid #ddd; /* Example border style */
  border-radius: 10px; /* Adjust the radius value as per your design */
  /* overflow: hidden; */
}

.mapped-table th,
.mapped-table td {
  padding: 5px;
  width: 250px;
  min-width: 250px;
  max-width: 400px;
  height: 40px;
  overflow: hidden; /* Ensure content is clipped within cells */
}

.mapped-table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.mapped-table thead::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ddd; /* Border style */
}

.mapped-table tr th:first-child {
  position: sticky;
  left: 0;
  background-color: #f3f3f3;
  z-index: 1;
}



.border-none td {
  border: 1px solid #ddd;
}

.border-none thead {
  background-color: #ddd;
}

.border-none tr:second-child td {
  border-top: none;
}

.border-none tr td:first-child {
  border-left: none;
}

.border-none tr td:last-child {
  border-right: none;
}

.markdown > * {
  all: revert;
  margin: 0;
  line-height: 1.5;
}

.markdown {
  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid black;
  }

  p {
    line-height: 1.5;
  }
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/* WebKit-based browsers */
.slim-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.slim-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.slim-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.slim-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
.slim-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}





